@{
    ViewData["Title"] = "Reserve Book";
}

<form method="post" action="~/Home/ReserveBook/">
    <label for="firstName">First name:</label>
    <input type="text" placeholder="Enter first name" name="firstName" required>
    <br />
    <label for="lastName">Last name:</label>
    <input type="text" placeholder="Enter last name" name="lastName" required>
    <br />
     
    <label for="phone">Phone:</label>
    <input type="tel" placeholder="Enter telephone number" name="phone" required>
    <br />

    <label for="email">Email:</label>
    <input type="email" placeholder="Enter email" name="email" required>
    <br />

    <br />

    <button type="submit" class="button">Home Page</button>
</form>